@import 'bootstrap/scss/bootstrap';

.b-button.btn-autenticacao {
  background-color: rgb(229, 255, 0) !important;
  border-color: rgb(241, 22, 22);
  color: #fff;
  &:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
}